{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Alterar senha</title>
</head>

<body>
    <div class="login-box">
        
        <form method="post">
            <div class="col-7 col-sm-5 col-lg-3 col-xl-3 mx-auto m-auto login">
                <div class="login-box text-center">
                    <img src="{% static '/img/alterar_senha.jpg' %}" class="img-fluid" alt="" />
            {% csrf_token %}
            <div class="form-group  ">
                {{form_senha.old_password.errors}}
                <div class="span3">Senha antiga:<br>  {{form_senha.old_password}}</div>
            </div>

            <div class="form-group mt-4">
                {{form_senha.new_password1.errors}}
                <div class="span3">Nova senha:<br> {{form_senha.new_password1}}</div>
            </div>

            <div class="form-group mt-4">
                {{form_senha.new_password2.errors}}
                <div class="span3">Confirmação de senha:<br> {{form_senha.new_password2}}</div>
            </div>
<br>
            <div class="form-group text-center">
                <input type="submit" value="Alterar" class="btn btn-primary">
            </div>
            </div>
        </div>
        </form>
    </div>
    {% endblock %}