{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CPSR - Cadastro de Pessoas em Situação de Rua</title>
  <link rel="icon" type="image/png" href="{% static '/img/favicon.ico' %}"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
  <link href="{% static '/css/base.css' %}" rel="stylesheet" />
  <nav class="navbar navbar-expand-lg navbar-light navbar-cpsr">
    <a class="navbar-brand" href="/">
      <img src="{% static '/img/logo-cpsr-retangulo.png' %}" width="100" height="50" class="d-inline-block align-center"
        alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard/">&nbsp;Página Inicial</a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="/">&nbsp;Página Inicial</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cadastro
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/morador/create">Novo Cadastro</a>
            <a class="dropdown-item" href="/morador/">Visualizar Cadastros</a>
            <a class="dropdown-item" href="#">Importar Cadastro</a>
            <a class="dropdown-item" href="#">Relatórios</a>
          </div>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Configurações
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Perfil</a>
            <a class="dropdown-item" href="/alterar_senha/">Alterar Senha</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/mlogout/">Sair</a>
          </div>
      </li>
        <li class="nav-item pull-right">
          <a class="nav-item nav-link">&nbsp;Bem vindo(a), {{user.get_username}}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/painel/">&nbsp;Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create/">&nbsp;Cadastrar Usuário</a>
        </li>
      </ul>
      {% endif %}
    </div>
    </div>
  </nav>
</head>

<body>
  {% block content %} {% endblock %}


</body>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/javascript.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <footer>
    &nbsp;
    <div style="display: grid; grid-template-columns: 1fr 1fr ; background-color: #112030; color: white;">
    <div>&nbsp;
      <h3>&nbsp;&nbsp;&nbsp;Mapa do Site</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Página inicial</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sobre</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cadastro</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login</p>
    </div>
    <div>&nbsp;
      <h3>&nbsp;&nbsp;&nbsp;Contato</h3>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Telefone: (92) 9000-000</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Endereço: Rua 1, Bairro 0</p>
    </div>
  </div>
  <span class="d-flex justify-content-center" style="background-color: #112030; color: white;">
  <p>Todos os direitos reservados 2022</p>
  </span>
  </footer>
</html>