{% extends 'base.html' %}

{% block content %}
   <form name="formPassword" id="formPassword" method="post" action="/password/">
        <div class="col-6 mt-4 m-auto">
            {% if msg %}
                <div class="alert {{class}}">
                    {{msg}}
                </div>
            {% endif %}
            
            {% csrf_token %}         
            <input class="form-control mt-4" type="password" name="changePassword" id="changePassword" placeholder="Nova Senha"><br>       
            <input class="btn btn-dark mt-4" type="submit" value="Alterar">        
            
        </div>
   </form>
{% endblock %}