{% extends 'base.html' %} 
{% block content %} 
{% load static %}
   <form name="form-users" id="formUsers" method="post" action="/store/">
        <div class="col-8 col-sm-6 col-lg-3 col-xl-3 mx-auto m-auto login">
            {% if msg %}
                <div class="alert {{class}}">
                    {{msg}}
                </div>
            {% endif %}
            
            {% csrf_token %}
            <div class="login-box text-center">
            <img src="{% static '/img/cadastro-usuario.jpg' %}" class="img-fluid" alt="" />
            <input class="form-control mt-4" type="text" name="name" id="name" placeholder="Nome">        
            <input class="form-control mt-4" type="text" name="user" id="name" placeholder="Nome do Usuário">        
            <input class="form-control mt-4" type="password" name="password" id="password" placeholder="Senha">        
            <input class="form-control mt-4" type="password" name="password-conf" id="password" placeholder="Repita a Senha">        
            <input class="form-control mt-4" type="email" name="email" id="email" placeholder="Email">        
            <input class="btn btn-primary mt-4" type="submit" value="Cadastrar">        
        </div>
        </div>
   </form>
{% endblock %}