{% extends 'base.html' %}

{% block content %}
   <div class="container">
    <h1>Alterar senha do usuário</h1>
    <form method="POST">
        {% csrf_token %}
        <p><label for="id_old_password">Antiga senha</label> <input type="password" name="old_password" autofocus required id="id_old_password"></p>
        <p><label for="id_old_password">Nova senha</label> <input type="password" name="new_password1" required id="id_new_password1"> <span class="helptext"><ul><li>Sua senha não pode ser uma senha comum!</li></ul></span></p>
        <p><label for="id_old_password">Confirmar nova senha</label> <input type="password" name="new_password2" autofocus required id="id_new_password2"></p>
            <button type="submit">Alterar Senha</button>
    </form>
   </div>
{% endblock %}