{% extends 'base.html' %} 
{% block content %} 
{% load static %}
{% if request.user.is_authenticated %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Lista de Moradores</h1>
<input class="btn btn-primary" type="submit" onclick="location.href = '{% url 'morador:create' %}'" value="Criar novo Cadastro">
<div class="col-8 col-sm-6 col-lg-3 col-xl-3">
    <br>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Ação</th>
    </tr>
    <tr>
    {% for morador in object_list %}
    <td>{{ morador.nome }}</td>
    <td><a class="btn btn-primary" href="{% url 'morador:update' pk=morador.id %}">Editar</a>
        <a class="btn btn-primary" href="{% url 'morador:detail' pk=morador.id %}">Visualizar</a> 
        <a class="btn btn-danger" href="{% url 'morador:delete' pk=morador.id %}">Excluir</a>
    </td>
    </tr>
    {% endfor %}
</table>
    
</div>
    
</body>


{% else %}
Acesso Negado! Realize o login para continuar.

{% endif %}

{% endblock %}
