.navbar-cpsr {
  background-color: white;
}
.container-home,
.box-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  .container-home,
  .box-home {
    display: flex;
    flex-direction: column;
  }
}
.container-home > .home-box {
  width: 20rem;
  height: fit-content;
  border-radius: 10px;
  padding: 1rem;
  margin: 5rem auto;
  border: 1px solid #ADD8E6 ;
}
.login > .login-box {
  border: 1px solid #b0c5db;
  border-radius: 10px;
  padding: 1rem;
}
.titulo {
  margin: 0 auto;
  padding: 3vh;
  position: relative;
  background: #112030;
  color: #fff;
  text-align: center;
}
.titulo h1 {
  font-size: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.titulo2 {
  margin: 0 auto;
  padding: 3vh;
  position: relative;
  background: white;
  color: #112030;
  text-align: center;
}